[Unit]
Description=LTE service
#Before=network.service
BindsTo=dev-cdc-wdm0.device
After=dev-cdc-wdm0.device

[Service]
#ExecStartPre=/bin/sleep 16
ExecStart=/usr/bin/quectel-cm -s ctnet

[Install]
WantedBy=multi-user.target
